body {
    background-color: paleturquoise;
    text-align: center;
}

#playingField {
    border: 1px solid black;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

#btnPlay {
    text-align: right;
}

#btnPlay button {
    margin-right: 20px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}